Repository Pandecanela2018/onboarding-windows-app--JavierCanesa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, npx markdownlint, dotnet format

.lintstagedrc:

{
    "*.js": ["eslint"],
    "*.md": ["npx markdownlint"],
    "*.cs" : ["dotnet format" ]
}

Modify .markdownlintignore and .lintstagedrc
  .lintstagedrc
  .markdownlintignore
Due: none

add restriction
  .gitignore
Due: none

Add more restriction
  .gitignore
Due: none

modifiy All
  .gitignore
  README.md
Due: npx markdownlint

modify
  .gitignore
  Issues/Codesmells.js
Due: eslint

modify .markdownlintignore
  .markdownlintignore
Due: none

Add folder Issues
  Issues/Issues#19CI-CD/ci_cd_reflection.md
  Issues/Issues#20CodeSmells/Codesmells.js
  Issues/Issues#20CodeSmells/code_smells.md
Due: eslint, npx markdownlint

Modify Correction.yml
  .github/workflows/Correction.yml
Due: none

Add Issues#21CleanCode and Answer
  Issues/Issues#21Cleancode/clean_code.md
  Issues/Issues#21Cleancode/sum.js
  Issues/Issues#21Cleancode/sum.test.js
Due: eslint, npx markdownlint

Adding folder Issues#22Handling & edge cases
  Issues/Issues#22Handling Errors & Edge Cases/Multiplication.js
  Issues/Issues#22Handling Errors & Edge Cases/MultiplicationRefactor.js
  Issues/Issues#22Handling Errors & Edge Cases/clean_code.md
Due: eslint, npx markdownlint

Adding folder Issues#22Handling & edge cases
  Issues/Issues#22Handling Errors & Edge Cases/clean_code.md
Due: npx markdownlint

Add Issue#23Documention&CCommenting
  Issues/Issues#23Documention&Commenting/CleanCode.md
Due: npx markdownlint

Adding Issue#24 with answers
  Issues/Issues#24RefactoringCode/ExampleofRefactoring.js
  Issues/Issues#24RefactoringCode/clean_code.md
Due: eslint, npx markdownlint

Adding Issue#24 with answers
  Issues/Issues#24RefactoringCode/clean_code.md
Due: npx markdownlint

Add Issue#25Avoiding Duplicate Code
  Issues/Issues#25AvoidingCodeDuplication/Example.js
  Issues/Issues#25AvoidingCodeDuplication/clean_code.md
Due: eslint, npx markdownlint

add Issue#25writing small
  Issues/Issues#26WritingSmall/clean_code.md
  Issues/Issues#26WritingSmall/example.js
Due: eslint, npx markdownlint

add issue#26WritingSmall
  Issues/Issues#26WritingSmall/clean_code.md
Due: npx markdownlint

Add issue#27NamingVariables
  Issues/Issues#27NamingVariables/clean_code.md
  Issues/Issues#27NamingVariables/example.js
Due: eslint, npx markdownlint

Refactored all the code with Prettier and checked it with ESLint.
  .github/workflows/Correction.yml
  .lintstagedrc
  .markdownlintignore
  .prettierignore
  .prettierrc
  Issues/Issues#19CI-CD/ci_cd_reflection.md
  Issues/Issues#20CodeSmells/Codesmells.js
  Issues/Issues#22Handling Errors & Edge Cases/Multiplication.js
  Issues/Issues#22Handling Errors & Edge Cases/MultiplicationRefactor.js
  Issues/Issues#23Documention&Commenting/CleanCode.md
  Issues/Issues#24RefactoringCode/ExampleofRefactoring.js
  Issues/Issues#25AvoidingCodeDuplication/Example.js
  Issues/Issues#26WritingSmall/example.js
  Issues/Issues#27NamingVariables/clean_code.md
  Issues/Issues#27NamingVariables/example.js
  Issues/Issues#28CodeFormatting/clean_code.md
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint, npx markdownlint

Add Issues#29Understanding Clean Code Principles.
  Issues/Issues#29Understanding CleanCodePrinciples/Example.js
  Issues/Issues#29Understanding CleanCodePrinciples/clean_code.md
Due: eslint, npx markdownlint

Add Issues#29Understanding Clean Code Principles.
  Issues/Issues#29Understanding CleanCodePrinciples/clean_code.md
Due: npx markdownlint

Modifying importants files.
  .lintstagedrc
  .prettierignore
  .prettierrc
  package.json
Due: none

Add Issues#15ExceptionHandling with answer
  Issues/Issues#15ExceptionHandling/example/.vs/ProjectEvaluation/example.metadata.v9.bin
  Issues/Issues#15ExceptionHandling/example/.vs/ProjectEvaluation/example.projects.v9.bin
  Issues/Issues#15ExceptionHandling/example/.vs/ProjectEvaluation/example.strings.v9.bin
  Issues/Issues#15ExceptionHandling/example/.vs/example/DesignTimeBuild/.dtbcache.v2
  Issues/Issues#15ExceptionHandling/example/.vs/example/FileContentIndex/1f511390-c55d-40c3-9cef-3f9019af9a23.vsidx
  Issues/Issues#15ExceptionHandling/example/.vs/example/v17/.futdcache.v2
  Issues/Issues#15ExceptionHandling/example/.vs/example/v17/.suo
  Issues/Issues#15ExceptionHandling/example/.vs/example/v17/DocumentLayout.backup.json
  Issues/Issues#15ExceptionHandling/example/.vs/example/v17/DocumentLayout.json
  Issues/Issues#15ExceptionHandling/example/example.sln
  Issues/Issues#15ExceptionHandling/example/example/Program.cs
  Issues/Issues#15ExceptionHandling/example/example/bin/Debug/net8.0/example.deps.json
  Issues/Issues#15ExceptionHandling/example/example/bin/Debug/net8.0/example.dll
  Issues/Issues#15ExceptionHandling/example/example/bin/Debug/net8.0/example.exe
  Issues/Issues#15ExceptionHandling/example/example/bin/Debug/net8.0/example.pdb
  Issues/Issues#15ExceptionHandling/example/example/bin/Debug/net8.0/example.runtimeconfig.json
  Issues/Issues#15ExceptionHandling/example/example/example.csproj
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/apphost.exe
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/example.AssemblyInfo.cs
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/example.AssemblyInfoInputs.cache
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/example.GeneratedMSBuildEditorConfig.editorconfig
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/example.GlobalUsings.g.cs
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/example.assets.cache
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/example.csproj.BuildWithSkipAnalyzers
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/example.csproj.CoreCompileInputs.cache
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/example.csproj.FileListAbsolute.txt
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/example.dll
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/example.genruntimeconfig.cache
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/example.pdb
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/example.sourcelink.json
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/ref/example.dll
  Issues/Issues#15ExceptionHandling/example/example/obj/Debug/net8.0/refint/example.dll
  Issues/Issues#15ExceptionHandling/example/example/obj/example.csproj.nuget.dgspec.json
  Issues/Issues#15ExceptionHandling/example/example/obj/example.csproj.nuget.g.props
  Issues/Issues#15ExceptionHandling/example/example/obj/example.csproj.nuget.g.targets
  Issues/Issues#15ExceptionHandling/example/example/obj/project.assets.json
  Issues/Issues#15ExceptionHandling/example/example/obj/project.nuget.cache
  Issues/Issues#15ExceptionHandling/exception-debugging-reflection.md
Due: npx markdownlint, dotnet format

modifying importants files
  .gitignore
  .lintstagedrc
Due: none

add issues#16Collection&LINQ
  Issues/Issues#16Collections&LINQBasics/collections-linq-reflection.md
Due: npx markdownlint

add example of issues #16 and other files
  Issues/Issues#16Collections&LINQBasics/example16/.vs/ProjectEvaluation/example.metadata.v9.bin
  Issues/Issues#16Collections&LINQBasics/example16/.vs/ProjectEvaluation/example.projects.v9.bin
  Issues/Issues#16Collections&LINQBasics/example16/.vs/ProjectEvaluation/example.strings.v9.bin
  Issues/Issues#16Collections&LINQBasics/example16/example.sln
Due: none

configuration files
  .lintstagedrc
  .markdownlint.json
  .prettierrc
Due: none

Add issues#17Object_Oriented_Program
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/.vs/Example17/FileContentIndex/0e89cb8e-80f7-46a4-ace1-81f58506c1df.vsidx
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/.vs/Example17/v17/.wsuo
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/.vs/Example17/v17/DocumentLayout.json
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/.vs/Prueba/CopilotIndices/17.14.1231.31060/CodeChunks.db
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/.vs/Prueba/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/.vs/Prueba/FileContentIndex/3deade5c-600f-4ccd-a45b-cd38cc4f2f3d.vsidx
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/.vs/Prueba/FileContentIndex/75a8dd35-370f-4c99-86ef-acd4eaf4a2c9.vsidx
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/.vs/Prueba/v17/.suo
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/.vs/Prueba/v17/DocumentLayout.backup.json
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/.vs/Prueba/v17/DocumentLayout.json
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/.vs/Prueba/v17/ResourceExplorer/settings.json
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/.vs/VSWorkspaceState.json
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/.vs/slnx.sqlite
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17.sln
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/App.config
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/Cliente.cs
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/Program.cs
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/Properties/AssemblyInfo.cs
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/bin/Debug/Prueba.exe
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/bin/Debug/Prueba.exe.config
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/bin/Debug/Prueba.pdb
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/example17.csproj
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/obj/Debug/Prueba.csproj.AssemblyReference.cache
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/obj/Debug/Prueba.csproj.CoreCompileInputs.cache
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/obj/Debug/Prueba.csproj.FileListAbsolute.txt
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/obj/Debug/Prueba.exe
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/obj/Debug/Prueba.exe.config
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/obj/Debug/Prueba.pdb
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/obj/Debug/example17.csproj.AssemblyReference.cache
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/example17/obj/Release/example17.csproj.AssemblyReference.cache
  Issues/Issues#17Object_Oriented_Programming_in_C#/Example17/oop-reflection.md
Due: npx markdownlint, dotnet format

Update .gitignore
  .gitignore
Due: none

add issues#18Syntax
  Issues/Issues#18Syntax&DatTypes/Example18/.vs/Example18/CopilotIndices/17.14.1231.31060/CodeChunks.db
  Issues/Issues#18Syntax&DatTypes/Example18/.vs/Example18/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
  Issues/Issues#18Syntax&DatTypes/Example18/.vs/Example18/FileContentIndex/9ccb1a13-aab2-4f75-b5ff-03c6c82885e0.vsidx
  Issues/Issues#18Syntax&DatTypes/Example18/.vs/Example18/v17/.suo
  Issues/Issues#18Syntax&DatTypes/Example18/.vs/Example18/v17/DocumentLayout.backup.json
  Issues/Issues#18Syntax&DatTypes/Example18/.vs/Example18/v17/DocumentLayout.json
  Issues/Issues#18Syntax&DatTypes/Example18/.vs/Example18/v17/ResourceExplorer/settings.json
  Issues/Issues#18Syntax&DatTypes/Example18/Example18.sln
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/App.config
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/Example18.csproj
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/Program.cs
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/Properties/AssemblyInfo.cs
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/bin/Debug/Example18.exe
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/bin/Debug/Example18.exe.config
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/bin/Debug/Example18.pdb
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/obj/Debug/Example18.csproj.AssemblyReference.cache
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/obj/Debug/Example18.csproj.CoreCompileInputs.cache
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/obj/Debug/Example18.csproj.FileListAbsolute.txt
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/obj/Debug/Example18.exe
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/obj/Debug/Example18.exe.config
  Issues/Issues#18Syntax&DatTypes/Example18/Example18/obj/Debug/Example18.pdb
  Issues/Issues#18Syntax&DatTypes/csharp-syntax-reflection.md
Due: npx markdownlint, dotnet format

modifying important files
  package-lock.json
  package.json
Due: none

Modifiyin importants files
  package-lock.json
  package.json
Due: none

Add Issues#7CodeSigning&Deployment
  Issues/Issues#7CodeSigning&DeploymentAwareness/code-signing-reflection.md
Due: npx markdownlint
